footer {
  display: block;
  width: 100%;
  height: 70px;
  margin: 0;
}

footer .quote {
  background-color: black;
  padding: 15px;
}

footer .quote p {
  font-family: cursive;
  color: white;
  font-style: italic;
}

footer p.quote-text {
  text-align: center;
  margin: auto 0;
  min-width: 660px;
}

footer p.quote-author {
  text-align: right;
  margin: auto 25%;
}

address {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

footer #contact {
  background-color: bisque;
  padding: 5px 5px 10px 5px;
}

address h3 {
  text-align: center;
  margin: 5px;
}

address p {
  display: inline-block;
  margin: 5px 100px;
  vertical-align: middle;
}
