body, html {
  height: 100%;
  margin: 0;
  border: 0;
}

main {
  width: 100%;
  height: 100%;
  margin: 0px;
}

 main div.bpicture {
  background: url("../foto/bgpicture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
 
}

main div.content {
  max-height: 800px;
  max-width: 900px;
  margin: auto auto;
  
  
}
main h1 {
  color: blanchedalmond;
  text-align: center;
  margin-top: 0px;
  padding-top: 50px;
  font-size: 80px;
}

main p {
  margin: 50px 70px;
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  font-weight: 900;
  color: whitesmoke;
}


main div.leftpicture {
  display: inline-block;
  
}

main div.leftpicture img {
  height: 190px;
  float: left;
  margin: 5px 15px 0px 0px;
  border: 6px solid black;
  
}

main div.leftpicture p {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  color: black;
  text-align: left;
  
}

main div.rightpicture {
  display: inline-block;
  
}

main div.rightpicture img {
  height: 190px;
  float: right;
  margin: 5px 0px 0px 15px;
  border: 6px solid black;
  
}

main div.rightpicture p {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  color: black;
  text-align: right;
  
}



