body, html {
  height: 100%;
  margin: 0;
}

header {
  background-color: bisque;
  width: 100%;
  height: 170px;
  margin: 0;
}

nav {
  background-color:black;
  width: 100%;
  margin: 0;
  
}

main {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
}

footer {
  background-color: black;
  width: 100%;
  height: 50px;
  margin: 0;
}

address {
  text-align: center; 
}

address p {
  display: inline-block;
  margin: 20px 100px;
}

div.header {
  text-align: center;
  background: url("../foto/header1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.4;
}

h1 {
  font-family: fantasy;
  color: black;
  font-size: 50px;
  margin: 0;
  padding: 30px;
}

div.nav ul {
  text-align: center;
  color: white;
  list-style: none;
  margin: auto auto; 
  padding: 20px;
  
}

div.nav li {
  display: inline-block;
  font-size: 25px;
  margin: 5px 5px;
}

div.nav li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}

div.nav li a:hover {
    background-color: white;
    color: black;
}

div.nav li a, a:visited {
  color: white;
}

div.bpicture {
  background: url("../foto/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.4;
}

footer p {
  font-family: cursive;
  color: white;
  font-style: italic;
}

p.cytat {
  text-align: center;
  margin: auto 0;
  min-width: 660px;
}

p.cytat-author {
  text-align: right;
  margin: auto 25%;
}

p.dane {
  text-align: left;
}

p.mail {
  text-align: right;
}
  
